span{
    color: orange;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p{
    text-align: justify;
}
h1{
    font-size: 40px;
}
.welcome-h1{
    font-size: 50px;
}
h4{
    color: orange;
}
.flixible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 90%;
}
.experiences{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 10px 10px 40px rgb(75, 74, 74);
    border-radius: 5px;
    text-align: justify;

}
a{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 201, 100), rgb(250, 37, 0));
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-developer{
    border-left: solid 7px;
    border-image: linear-gradient(rgb(201, 135, 12), rgb(247, 209, 139));
    border-image-slice: 1;
}
#baby-developer{
    border-left: solid 7px;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.footer{
    text-align: center;
}